<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/about.css">
</head>
<body>
    <span class="headerContainer">
        <h1>RANKER</h1>
    </span>
    <div class="container">
        <h1 style="font-size: 30px;">About</h1>
        <p style="font-size: 20px;">Welcome to RANKER, the ultimate tier list destination! As the sole developer behind this site, I'm passionate about bringing you an intuitive and user-friendly platform to create tier lists. Whether you're ranking movies, video games, sports teams, or anything else, RANKER provides a seamless experience. Let RANKER be your go-to tool for all your ranking needs. Enjoy:)</p>
        <h1 style="font-size: 30px;">Contact</h1>
        <p style="font-size: 20px;">Email: mygh230204@gmail.com</p>
    </div>
    <div class="github-container">
        <a href="https://github.com/mygh230204/Web">
            <p class="github-link">GitHub link ↓</p>
            <img src="~/Images/GHIcon.png" alt="Github Icon" class="github-icon">
            <p class="github-desc">Visit my GitHub with free source code</p>
        </a>
    </div>
</body>
</html>
