<!DOCTYPE html>
<html>
<head>
    <title>RANKER</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <span class="headerContainer">
        <h1>RANKER</h1>
    </span>
    <div class="container">
        <h1 style="font-size: 80px;">Welcome!</h1>
        <p style="font-size: 40px;">Create tier lists with ease!</p>
        <a class="button" href="@Url.Action("Main", "Home")">GET STARTED</a>
    </div>
</body>
</html>
