<!DOCTYPE html>
<html>
<head>
    <title>RANKER</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <span class="headerContainer">
        <h1>RANKER</h1>
    </span>
    <div class="container">
        <partial name="_LoginPartial" />
    </div>
</body>
</html>
